h2.profile {
    margin-top: 4rem;
    font-size: 29px;
}

img.profileimg {
    border-radius: 50%;
    width: 190px;
    height: 190px;
    margin-top: 35px;
    margin-left: 52px;
    display: block;
}

button.btn.btn-danger.profileBtn {
    text-align: center;
    margin: 41px 70px;
    padding: 5px 38px;
}

.name {
    margin-bottom: 45px !important;
}

button.btn.btn-dark.orderBtn {
    padding: 5px 34px;
    margin-bottom: 1rem;
}